 <form action="/change_state/0" method="get" id="form0">
</form>
 <form action="/change_state/1" method="get" id="form1">
</form>
 <form action="/change_state/2" method="get" id="form2">
</form>

<button type="submit" form="form0" value="Submit">State 0</button> 
<button type="submit" form="form1" value="Submit">State 1</button> 
<button type="submit" form="form2" value="Submit">State 2</button> 
