/* Footer styling */
.footer {
  margin-top: 45px;
  padding: 35px 30px 36px;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #888;
}

.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-buffer { margin-top:20px; }

.product-img {
  margin: 10px auto;
  display: block;
  max-height: 200px;
}

/* TurboGears flash bootstrap look */


#flash > div {
  padding: 12px;
  margin: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  color: #c09853;
}

#flash > .ok {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#flash > .error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

#flash > .info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
